@import '../config/colors.less';

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;

        a {
            color: #colors[light-text-color];
            text-decoration: none;
        }
    }
}
