@import 'config/colors.less';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #colors[body-background-color];
}

li {
    list-style: none;
}

section {
    padding: 56px 0;
}

@import 'config/container.less';
@import 'modules/header.less';
@import 'modules/menu.less';
@import 'modules/products.less';
