@use '../config/container.scss';
@use '../config/colors.scss';

header {
    background-color: colors.$header-color;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}
